<style type="text/css"></style>
.tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
.tg td{border-color:#707070;border-style:solid;border-width:1px;font-family:ABCfina, sans-serif;font-size:14px;
  overflow:hidden;padding:24px;word-break:normal;}
.tg th{border-color:#707070;border-style:solid;border-width:1px;font-family:ABCfina, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:24px;word-break:normal;}
.tg .tg-7k2t{border-color:#707070;font-size:11px;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-wrlh{font-size:13px;font-weight:bold;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
<tr>
<th class="tg-wrlh">Balance</th>
<th class="tg-7k2t">Medio</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tg-wrlh">Forma</td>
<td class="tg-7k2t">Hibrida</td>
</tr>
<tr>
<td class="tg-wrlh">Peso</td>
<td class="tg-7k2t">350g</td>
</tr>
<tr>
<td class="tg-wrlh">Perfil</td>
<td class="tg-7k2t">38mm</td>
</tr>
<tr>
<td class="tg-wrlh">Longitud</td>
<td class="tg-7k2t">Estandar/Adulto</td>
</tr>
</tbody>
</table>